@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(assets/bg.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-form {
  width: 420px;
  padding: 48px 32px;
  margin: 0 auto;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border: 1px solid #cfcfcf;
  border-radius: 15px;
}


.login-form h1 {
  color: #fff;
  font-size: 2.2em;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.input-wrapper input {
  background-color: transparent;
  color: #fff;
  width: 100%;
  padding: 12px 40px 12px 20px;
  font-size: 1em;
  border: 1px solid #cfcfcf;
  border-radius: 300px;
  outline: none;
}

.input-wrapper input::placeholder,
.input-wrapper i {
  color: #cfcfcf;
}

.input-wrapper i {
  font-size: 1.2em;
  position: absolute;
  top: 30%;
  right: 15px;
}

.input-wrapper input:focus + i,
.input-wrapper input:focus {
  color: #fff;
  border-color: #fff;
}

.direct {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.remember-me span,
.forgot-pass,
.register span {
  color: #fff;
}

.login-form a,
.register .register-link a {
  text-decoration: none;
  transition: all 0.15s ease-in;
}

.forgot-pass:hover,
.register .register-link a:hover {
  color: rgb(195, 122, 229);
}

.login-btn {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 300px;
  user-select: none;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.login-btn:hover {
  color: white;
  background-color: black;
}

.register {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.register .register-link a {  
  font-weight: 700;
  color: white;
}

@media screen and (max-width: 340px) {
  .direct {
    text-align: center;
    flex-direction: column;
    gap: 4px;
  }
}